$page-margin: 5mm;
$card-padding: 5mm;
$cutting-border-width: .5mm;
$cutting-border-style: dotted;
$cutting-border-color: grey;
$cards-per-row: 3;
$rows-per-page: 3;

@media only print {
    .app {
      display: none;
    }
    .print {
      display: initial;
    }

    .canvas {
       height: 200mm;
       width: 287mm;
       overflow: hidden;
       page-break-after: always;
    }

    @page {
      size: A4 landscape; 
      margin: $page-margin;
    }

    %cuttinBorder {
      border-style: $cutting-border-style;
      border-color: $cutting-border-color;
    }

    .row {
      @extend %cuttinBorder;
      &:nth-child(3) {
        border: none;
      }
      border-bottom-width: $cutting-border-width;
      height: calc(100% / 3);
    }

    .item {
      @extend %cuttinBorder;
      &:nth-child(3) {
        border: none;
      }
      padding: $card-padding;  
      border-right-width: $cutting-border-width;
      height: 100%;
      width: calc(100% /3);
      overflow: hidden;
      float: left;
    }

    .id {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .title {
      @extend .id;
      font-size: 1rem;
    }

    
}