/* * {
	background-color: white;
	font-family: sans-serif;
} */


.row {
  border-bottom: .5mm dotted gray;
  height: calc(100% / 3);
}

.col {
  border-right: .5mm dotted gray;
}


.row:last-child, .grid-item:last-child {
  border: none;
}

.Id {
	font-weight: bold;
	font-size: 1.5rem;
	display:block;
	/* padding-bottom: 10px; */
}

.Title {

	font-size: 1rem;
	/* padding-bottom: 170px; */
}

.grid-item {
  border-right: .5mm dotted gray;
  padding: 5mm;  
  height: 100%;
  width: calc(100% /3);
  float: left;
}

h1, h2 {
  font-family: Lato;
}

@media only screen {
  .print {
    display: none;
  }
}



/* printing styles */
@media only print {
    .app {
      display: none;
    }
    .print {
      display: initial;
    }

    .page {
       height: 200mm;
       width: 287mm;
       page-break-after: always;
    }



    @page {
      size: A4 landscape; 
      margin: 5mm;
    }

    /* use width if in portrait (use the smaller size to try 
       and prevent image from overflowing page... */
    img { height: 90%; margin: 0; padding: 0; }	
}