h1, h2 {
  font-family: Lato;
}


input[type=file] {
  content: ''
}


@media only screen {
  .print {
    display: none;
  }
}



/* printing styles */
@media only print {
    .app {
      display: none;
    }
    .print {
      display: initial;
    }
    @page {size: A4 landscape; }

    /* use width if in portrait (use the smaller size to try 
       and prevent image from overflowing page... */
    img { height: 90%; margin: 0; padding: 0; }	
}