@import 'reset.scss';

$bg-color-light: rgb(229, 231, 235);
$card-bg-color-light: lighten($bg-color-light, 5%);
$primary-color-light: rgb(29, 78, 216);
$primary-accent-color-light: rgb(96, 165, 250);
$shadow-color-light: rgb(84, 84, 84);

$bg-color-dark: rgb(33, 33, 33);
$card-bg-color-dark: lighten($bg-color-dark, 5%);

:root {
  color-scheme: light dark;
  --bg-color: #{$bg-color-light};
  --card-bg-color: #{$card-bg-color-light};
  --primary-color: #{$primary-color-light};
  --primary-accent-color: #{$primary-color-light};
  --shadow-color-light: #{$shadow-color-light};
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #{$bg-color-dark};
    --card-bg-color: #{$card-bg-color-dark};
  }
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.app {
  background-color: var(--bg-color);
}

.container-app {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-height: 100vh;
}

.card {
  margin: 0 auto;
  border-radius: 0.25rem;
  padding: 2.5rem;
  max-width: 28rem;
  background-color: var(--card-bg-color);
}

.feature-image {
  width: 50%;
  margin: 0 auto 1.25rem auto;
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.description {
  margin-bottom: 1.25rem;
}

input[type='range'] {
  width: 100%;
}

.button {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  font-weight: 600;
  margin-top: 1.25rem;
  border: 0;

  &:hover {
    background-color: var(--primary-accent-color);
    cursor: pointer;
  }
  span {
    margin: 0 auto;
  }
}

.shadow {
  box-shadow: 5px 5px 8px -5px var(--shadow-color-light);
}

.hidden {
  display: none;
}

.rounded {
  border-radius: 0.25rem;
}

@media only screen {
  .print {
    display: none;
  }
}

.version {
  position: absolute;
  height: 0;
  width: 0;
  margin-top: 0.4rem;
  opacity: 0.25;
  font-size: 0.75rem;
  line-height: 1rem;
}

.hover-pointer:hover {
  cursor: pointer;
}
